/* use key frames */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/******** Universal Selector ********/
/* all other selectors have higher priority */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* set root fontsize */
/* make 1rem 10px for easier calculation*/
/* to avoid overwrite user's default font size setting, we translate 10px to 62.5%  */
html {
  font-size: 62.5%; }

body {
  /* make all children inherit this property  */
  box-sizing: border-box;
  background-color: black; }

body {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff; }

p, .heading-tertiary {
  font-family: 'Abel', sans-serif; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  /* fix the shakey problem */
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .8rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    /* animation-delay: 2s;
        animation-iteration-count: 3; */ }
  .heading-primary--sub {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    /* use easier expression */
    animation: moveInRight 1s ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  display: inline-block; }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-padding-lg {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.u-sidepadding-sm {
  padding-left: 3rem;
  padding-right: 3rem; }

.card {
  perspective: 140rem;
  -moz-perspective: 140rem;
  position: relative;
  height: 55rem; }
  .card__side {
    color: black;
    height: 55rem;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 5px; }
    .card__side--front-1 {
      background-image: url(../img/1.png);
      background-size: cover; }
    .card__side--front-2 {
      background-image: url(../img/falconHeaveySketch.png);
      background-size: cover; }
    .card__side--front-3 {
      background-image: url(../img/starShipSketch.png);
      background-size: cover; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: url(../img/falcon9.png);
        background-size: cover; }
      .card__side--back-2 {
        background-image: url(../img/falconHeavey.png);
        background-size: cover; }
      .card__side--back-3 {
        background-image: url(../img/starShip.png);
        background-size: cover; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__heading {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    position: absolute;
    width: 80%;
    text-align: center;
    top: 15rem;
    left: 3.2rem; }
  .card__details {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    position: absolute;
    width: 80%;
    text-align: center;
    top: 25rem;
    left: 3.2rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: 3rem; }
    .composition__photo--p2 {
      right: 0;
      top: 8.5rem; }
    .composition__photo--p3 {
      top: 15rem;
      left: 10%; }
    .composition__photo:hover {
      transform: scale(1.3) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.8);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.btn {
  /* use pseudo element to make effects */
  /* make a new button behind the actual button */
  /* animate the button when start the page*/ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: .2rem;
    transition: all .2s;
    position: relative; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    .btn:hover::after {
      transform: scaleX(1.1) scaleY(1.1);
      /* use opacity can achieve different effect */
      /* opacity: 0; */ }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: .2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* transition should be at the starting element */
    transition: all .3s; }
  .btn--white {
    background-color: #ffffff;
    color: #000000; }
    .btn--white::after {
      background-color: #ffffff; }
  .btn--black {
    background-color: #000000;
    color: #ffffff; }
    .btn--black::after {
      background-color: #000000; }
  .btn--animated {
    animation: moveInButtom .2s ease-in 1s;
    animation-fill-mode: backwards; }

.feature-box {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform .3s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.1);
  background-color: #000000;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story__img {
    width: 100%; }
  .story__text {
    transform: skewX(12deg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: url(../img/header-background.jpg);
  background-size: cover;
  background-position: top;
  /* use clip path */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* allow elements inside head to position relative to the header */
  position: relative;
  /* make the text box to center */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 2.8rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    /* In relation to the element itself */
    transform: translate(-50%, -50%); }

.section-about {
  padding: 25rem 5rem;
  margin-top: -10vh;
  color: white; }

.section-features {
  padding: 30rem 0;
  background-image: url(../img/featureImg.png);
  background-size: cover;
  margin-top: -15rem;
  height: 100vh;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%); }

.section-rockets {
  padding: 5rem 0 20rem 0;
  margin-top: 5rem; }

.section-stories {
  padding: 15rem 0; }
