body {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:$color-primary-text;
}

p, .heading-tertiary {
    font-family: 'Abel', sans-serif;
}

.heading-primary {
    color:$color-primary-text;
    text-transform: uppercase; 
    /* fix the shakey problem */
    backface-visibility: hidden;
    margin-bottom: 5rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: .8rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        /* animation-delay: 2s;
        animation-iteration-count: 3; */
    }

    &--sub {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1rem;
        /* use easier expression */
        animation: moveInRight 1s ease-in;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    display: inline-block;
}

.heading-tertiary {
    font-size: $default-font-size;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    margin-bottom: 2rem;
}
