.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-padding-lg {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.u-sidepadding-sm {
    padding-left: 3rem;
    padding-right: 3rem;
}

.pl-10 {
    padding-left: 10rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pl-lg {
    padding-left: 16rem;
}